.header-title {
  font-family: 'Amatic SC', cursive;
  margin-left: 60%;
  margin-top: 80px;
  font-size: 3em;
  background: #E0E0E0
}
.agenda-title {
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
  background: #E0E0E0;
}
.musica-title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  background: #E0E0E0;
}

.login-icon {
  font-size: 1.22em;
  margin-right: 10px;
}


.musica-icon {
  font-size: 2em;
}

.admin-icons {
  font-size: 10em;
  margin-left: 35%;
  margin-top: 30px;
}
.admin-buttons-left {
  margin-left: 35%;
  width: 100px;
}
.admin-icon-alone {
  font-size: 10em;
  margin-left:44%;
  margin-top:30px;
}
.admin-button-alone {
  margin-left: 45%;
}
.admin-buttons-right {
  margin-left: 38%;
  width: 100px;
}
 .hide-scroll {
   overflow: hidden;
 }
 .admin-content {
   margin-left: 40px;
   margin-right: 40px;
 }
 .item-list {
   background-color: #fffffc;
   border: 1px;
 }
 .edit-dialog {
   margin-top: 60px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
 }
 .md-datepicker-input-container {
   margin-left: 0;
   margin-top:0;
   padding: 0;
 }
 .drop-box {
   background: #F8F8F8;
   border: 5px dashed #DDD;
   width: 230px;
   height: 120px;
   text-align: center;
   padding-top: 25px;
   margin-left: 10px;
   margin-bottom: 20px;
 }
 .logo-nav {
   width: 100px;
   height: 100px;
 }

 .drop-box.dragover {
   border: 5px dashed blue;
 }

 .drop-box.dragover-err {
   border: 5px dashed red;
 }

.uploaded-image {
  max-height: 100px;
  max-width: 200px;
}
.ng-crop-container {
  height: 400px;
}
.angular-google-map-container {
  width: 400px;
  height: 400px;
}
.image-dialog-container {
  max-width: 500px;
  max-height: 500px;
}
.teste {
  width: 500px;
  height: 500px;
}
.barra-nav {
  background-color: #000000 !important;
}
