.header-title {
  font-family: 'Amatic SC', cursive;
  margin-left:60%;
  font-size: 3em;
  background: #E0E0E0;
  margin-top: 50px;
}

.agenda-detalhes-header {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  background: #E0E0E0
}

.agenda-detalhes-data {
  font-family: 'Amatic SC', cursive;
  color: #00C853;
}
.agenda-detalhes-detalhes {
  font-family: 'Amatic SC', cursive;
  color: #C6FF00;
}
.agenda-detalhes-preco {
  font-family: 'Amatic SC', cursive;
  color: #D50000;
}

.iframe-youtube {
  margin-left: auto !important;
  margin-right: auto !important;
  display: block;
  padding-bottom: 30px;
  width: 100%;

}

.login-form {
  max-width: 600px !important;
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

.menu-back {
  font-size: 2em;
}

.card-height {
  max-height: 250px !important;
}

.image-side-nav {
  max-width: 200px;
  max-height: 160px;
}

.agenda-title {
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
  background: #E0E0E0;
}
.musica-title {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  background: #E0E0E0;
}

.login-icon {
  font-size: 1.22em;
  margin-right: 10px;
}


.musica-icon {
  font-size: 2em;
}

.admin-icons {
  font-size: 10em;
  margin-top: 30px;
}
.admin-buttons-left {
  margin-left: 35%;
  width: 100px;
}
.admin-icon-alone {
  font-size: 10em;
  margin-top:30px;
}
.admin-button-alone {
}
.admin-buttons-right {
  width: 100px;
}
 .hide-scroll {
   overflow: hidden;
 }
 .admin-content {
   margin-left: 40px;
   margin-right: 40px;
 }
 .item-list {
   background-color: #fffffc;
   border: 1px;
 }
 .edit-dialog {
   margin-top: 60px;
   margin-left: 30px;
   margin-right: 30px;
   margin-bottom: 30px;
 }
 .md-datepicker-input-container {
   margin-left: 0;
   margin-top:0;
   padding: 0;
 }
 .drop-box {
   background: #F8F8F8;
   border: 5px dashed #DDD;
   width: 230px;
   height: 120px;
   text-align: center;
   padding-top: 25px;
   margin-left: 10px;
   margin-bottom: 20px;
 }
 .logo-nav {
   width: 100px;
   height: 100px;
   margin-left: 45% !important;
 }

 .drop-box.dragover {
   border: 5px dashed blue;
 }

 .drop-box.dragover-err {
   border: 5px dashed red;
 }


.uploaded-image {
  max-height: 600px;
  max-width: 800px;
}
.ng-crop-container {

  height: 400px;
}
.angular-google-map-container {

  width: 100%;
  height: 300px;

}
.image-dialog-container {
  width: 100%;
  height: 100%;
}

.barra-nav {
  background-color: #000000 !important;
}
footer {
   left:0px;
   bottom:0px;
   padding-top: 30px;
   width:100%;
}
/* pagination */

.pagination {
    height: 36px;
    margin: 18px 0;
    color: #6c58bF;
}

.pagination ul {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    margin-left: 0;
    color: #ffffff;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
    display: inline;
    color: #6c58bF;
}

.pagination a {
    float: left;
    padding: 0 14px;
    line-height: 34px;
    color: #6c58bF;
    text-decoration: none;
    border: 1px solid #ddd;
    border-left-width: 0;
}

.pagination a:hover,
.pagination .active a {
    background-color: #6c58bF;
    color: #ffffff;
}

.pagination a:focus {
    background-color: #6c58bF;
    color: #ffffff;
}


.pagination .active a {
    color: #ffffff;
    cursor: default;
}

.pagination .disabled span,
.pagination .disabled a,
.pagination .disabled a:hover {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination li:first-child a {
    border-left-width: 1px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    color: #6c58bF;
    *zoom: 1;
}

.pager:before,
.pager:after {
    display: table;
    content: "";
}

.pager:after {
    clear: both;
}

.pager li {
    display: inline;
    color: #6c58bF;
}

.pager a {
    display: inline-block;
    padding: 5px 14px;
    color: #6c58bF;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.pager a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.pager .next a {
    float: right;
}

.pager .previous a {
    float: left;
}

.pager .disabled a,
.pager .disabled a:hover {
    color: #999999;
}


/* end */
