<md-toolbar  class="barra-nav" md-scroll-shrink layout="row" layout-align="start center" layout-padding>
  <img ng-src="../resources/logo-bob.png" alt="Logo Bob Kurupi - Clique para ir para home" class="logo-nav"/>
  <span flex></span>
  <div class="navbar-right navbar-text">
    <md-button ng-href="/login" ng-hide="bobKurupi.isLoggedIn">Login</md-button>
    <md-button ng-href="/register" ng-hide="bobKurupi.isLoggedIn">Sign up</md-button>
    <div ng-show="bobKurupi.isLoggedIn">{{ bobKurupi.currentUser.profile.name}}</div>
    <md-button ng-click="bobKurupi.logout()" ng-show="bobKurupi.isLoggedIn">Logout</md-button>
  </div>
</md-toolbar>
<div ui-view>
    <div >
      <div class="header-title">
          <h2 style="margin-left: 10px;">Fotos</h2>
      </div>

      <md-grid-list
            md-cols-gt-xs="2" md-cols-xs="1" md-cols-sm="3" md-cols-gt-sm="4" md-cols-md="5" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="1:1">
        <md-grid-tile ng-repeat="image in bobKurupi.images">
          <img ng-click="bobKurupi.showImageDialog(image)" ng-src="{{image.url()}}" alt="Banda Bob Kurupi" />
        </md-grid-tile>
      </md-grid-list>
    </div>
    <div>
      <div class="header-title">
          <h2 style="margin-left: 10px;">Vídeos</h2>
      </div>
    </div>


</div>
