<div class="navbar-fixed " ng-hide="bobKurupi.isLeftMenuOpen()">
    <nav>
      <div class="nav-wrapper black">
         <a ng-click="bobKurupi.openLeftMenu()" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <a href="/" class="brand-logo center">
          <img ng-src="../resources/logo-bob.png" alt="Logo Bob Kurupi - Clique para ir para home" class="logo-nav circular responsive-img"/>
        </a>
        <ul class="right hide-on-med-and-down">
          <li ng-hide="bobKurupi.isLoggedIn"><md-button ng-href="/login" >Entrar</md-button></li>
          <li ng-hide="bobKurupi.isLoggedIn"><md-button ng-href="/cadastro" >Registrar-se</md-button></li>
          <li ng-show="bobKurupi.isLoggedIn"><md-button ng-click="bobKurupi.logout()" >Logout</md-button></li>
        </ul>
        <ul class="left hide-on-med-and-down">
          <a ng-click="bobKurupi.openLeftMenu()"><i class="material-icons">menu</i></a>

        </ul>
      </div>
    </nav>
  </div>
<div layout="row">
  <md-sidenav md-component-id="left" class="md-sidenav-left">
    <!-- Here goes the side nav . That I'll make as a component yaaaay, or maybe just as a directive hehe-->
    <md-card>
        <md-card-header>
          <md-card-avatar>
            <span ng-click="bobKurupi.closeLeftMenu()"><i class="fa fa-arrow-left menu-back" aria-label="Fechar menu lateral"></i></span>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">Olá</span>
            <div class="md-subhead">
              <span ng-show="currentUser.profile.name">
                {{currentUser.profile.name}}
              </span>
              <span ng-show="currentUser.profile.nome">
                {{currentUser.profile.nome}}
              </span>
              <a ng-show="bobKurupi.isLoggedIn" ng-href="/logout" ng-click="bobKurupi.closeLeftMenu()">Logout</a>
              <a ng-hide="bobKurupi.isLoggedIn" ng-href="/login" ng-click="bobKurupi.closeLeftMenu()">Login</a>
              <a ng-hide="bobKurupi.isLoggedIn" ng-href="/cadastro" ng-click="bobKurupi.closeLeftMenu()">Registrar</a>
            </div>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="../resources/logo-bob.png" class="md-card-image card-height" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>

          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <div layout="column">
            <a class="md-button" ng-click="bobKurupi.closeLeftMenu()"  ng-href="/admin">Admin Area</a>
          </div>
          <div layout="column">
            <a class="md-button" ng-click="bobKurupi.closeLeftMenu()" ng-href="/">Fotos/Vídeos</a>
          </div>
          <div layout="column">
            <a class="md-button" ng-click="bobKurupi.closeLeftMenu()" ng-href="/agenda">Agenda</a>
          </div>
          <div layout="column">
                <a class="md-button" ng-click="bobKurupi.closeLeftMenu()" ng-href="/musicas">Músicas</a>
          </div>
          <div layout="column">
            <a class="md-button md-disabled" ng-href="/loja" disabled>Loja
              <small><span class="md-warn">em breve!</span></small>
            </a>
          </div>
        </md-card-content>
      </md-card>
  </md-sidenav>
</div>
<div ui-view>
    <div >
      <div class="header-title">
          <h2 style="margin-left: 10px;">Fotos</h2>
      </div>

      <md-grid-list
            md-cols-gt-xs="2" md-cols-xs="1" md-cols-sm="3" md-cols-gt-sm="4" md-cols-md="5" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="1:1">
        <md-grid-tile dir-paginate="image in bobKurupi.images | itemsPerPage: bobKurupi.perPage" total-items="bobKurupi.imagesCount">
          <img style="width:200px; height:200px;" ng-click="bobKurupi.showImageDialog(image)" ng-src="{{image.url()}}" alt="Banda Bob Kurupi" />
        </md-grid-tile>
      </md-grid-list>
      <dir-pagination-controls class="pagination" on-page-change="bobKurupi.pageChanged(newPageNumber)" style="margin-left:auto !important; margin-right:auto !important;"></dir-pagination-controls>

    </div>
    <div>
      <div class="header-title">
          <h2 style="margin-left: 10px;">Vídeos</h2>
      </div>
      <!-- the div inside this iframe-youtube div will become the player -->
      <div  ng-repeat="video in bobKurupi.videos">
        <youtube-video class="iframe-youtube" video-id="video.videoId"></youtube-video>
      </div>
    </div>


</div>
