    <div class="header-title">
      <h1>Login</h1>
    </div>
    <md-content class="login-form">
      <div layout="column">
        <md-button class="md-raised md-primary" ng-click="login.loginFacebook()">
          <i class="fa fa-facebook button login-icon"></i>Login com Facebook</md-button>
      </div>

        <form name="login-form" ng-submit="login.login()">
          <div layout="column">
            <md-input-container>
              <label>E-mail</label>
              <input type="email" ng-model="login.credentials.email">
            </md-input-container>
          </div>
          <div layout="column">
            <md-input-container>
              <label>Senha</label>
              <input type="password" ng-model="login.credentials.password">
            </md-input-container>
          </div>
          <div layout="column">
              <input type="submit" class="md-button md-raised" aria-label="login " value="login">
          </div>
          <div layout="column">
              <a class="md-button md-raised" href="/cadastro">Registrar-se</a>
          </div>

        </form>


      <div ng-show="login.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
        <p class="md-body-1">{{ login.error }}</p>
      </div>
</md-content>
