<md-content>
  <div>
    <h3>Painel de Administração</h3>
    <p>
      Bem-vindo ao painel de administração. Aqui você pode gerenciar as informações da sua aplicação.
    </p>
  </div>
  <md-grid-list
        md-cols-gt-xs="2" md-cols-xs="1" md-cols-sm="3" md-cols-gt-sm="4" md-cols-md="5" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="1:1">
    <md-grid-tile>
      <i class="fa fa-microphone admin-icons" ng-click="admin.goMusicasAdmin()" alt="Musicas"></i>
    </md-grid-tile>
    <md-grid-tile>
      <i class="fa fa-calendar admin-icons" ng-click="admin.goAgendaAdmin()" alt="Agenda"></i>
    </md-grid-tile>
    <md-grid-tile>
      <i class="fa fa-camera admin-icon-alone" ng-click="admin.goImagens()" alt="Imagens"></i>
    </md-grid-tile>
    <md-grid-tile>
        <i class="fa fa-youtube admin-icons" ng-click="admin.goVideos()" alt="Vídeos"></i>
    </md-grid-tile>
  </md-grid-list>

  <div  class="admin-content" ng-show="admin.showAdminOption(1)">
    <admin-musicas></admin-musicas>
  </div>
  <div class="admin-content" ng-show="admin.showAdminOption(2)">
    <admin-agenda></admin-agenda>
  </div>
  <div class="admin-content" ng-show="admin.showAdminOption(3)">
    <admin-imagens></admin-imagens>
  </div>
  <div class="admin-content" ng-show="admin.showAdminOption(4)">
    <admin-videos></admin-videos>
  </div>
</md-content>
